# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Data & outputs (we'll add raw data later; keep repo lean)
data/raw/
data/processed/
*.csv
*.parquet

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.idea/
.vscode/
